@import 'variables';
@import 'mixins';

.navbar{
    background-color: $primary-color;
    margin-top: -15px;
    margin-bottom: -30px;

    .logo{
        font-size: $title-size;
        font-family: Georgia, 'Times New Roman', Times, serif;
    
        .alice{
            background-color: $secondary-color;
            color: white;
            padding: 5px;
            border-radius: 10%;
        }
    }

    .nav-link{
        font-weight: bold;
        margin: 0 10px;
        color: black;
    }
    .mea{
        .btn{
            @include buton;
        }
    
    }
}


