$primary-color: #95d5b2;
$secondary-color: #1b4332;

// Define the font-size
$font-size: 18px;
$font-size-md:15px;

// Define the font-size title
$title-size: 3em;

// Define the fonts
$primary-font:'Times New Roman', Times, serif;; 
$second-font: Georgia, 'Times New Roman', Times, serif;;


